button,
input[type="button"],
input[type="submit"],
input[type="image"],
label {
  cursor: pointer;
}
dl,
dd{
  margin: 0;
}
#wrapper {
  margin: 0 auto;
  position: relative;
}
#login {
  width: 800px;
  position: relative;
  left: 50%;
  margin-left: -400px;
}
#login div.loginSystem {
  line-height: 20px;
  padding: 10px;
  text-align: center;
  font-family: "Arial";
}
#login div.loginSystem dt {
  float: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  text-align: right;
  width: 114px;
  margin-right: 10px;
  height: 50px;
}
#login div.loginSystem dd {
  float: left;
  font-weight: bold;
  line-height: 50px;
  text-align: left;
}
#login div.loginSystem dl {
  height: 50px;
}
#login div.loginSystem input.field-value {
  height: 30px;
  width: 550px;
}
#login div.loginSystem input[type="submit"]{
  height: 35px;
  width: 100px;
}
#login div.loginSystem .btns {
  border-top: 1px dashed #aaa;
  margin: 10px 0;
  padding-top: 10px;
}